@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: Roboto;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header,
.hero {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}

.header {
    color: #f9faf8;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.header-logo {
    font-size: 36px;
    font-weight: 900;
}

.header-links {
    display: flex;
    justify-content: flex-end;
    gap: 18px;
}

.hero {
    display: flex;
    justify-content: space-between;
    gap: 46px;
    padding: 100px 0px;
}

.hero-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 18px;
}

.hero-main-text {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.section-two {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-three {
    background-color: #e5e7eb;
}

.section-one,
.footer {
    background-color: #1f2937;
}

a {
    text-decoration: none; /* Remove the underline */
}

.hero-sec-text,
a {
    font-size: 18px;
    color: #e5e7eb;
}

button {
    color: #f9faf8;;
    background-color: #3882F6;
    border-radius: 5px;
    border: 0px;
    font-weight: bold;
    font-size: 18px;
    padding: 10px 20px;
    width: 150px;
}

ul {
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}

.card-container {
    display: flex;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-image {
    width: 700px;
    height: auto;
    background-color: #e5e7eb;

}

.card-image {
    height: 200px;
    width: 200px;
    border: 5px solid #3882F6;
    border-radius: 25px;
}